:root {
    --primary-color: #1d53ff;
}

html, body{
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.width-100-percent{
    width: 100%;
}

.justify-center{
    justify-content: center;
}